* {
    color: black;
    font-family: 'Montserrat', sans-serif;

}

body {
    background-image: url(./image/lukasz-lada-LtWFFVi1RXQ-unsplash.jpg);
}


#cityInput,
#cityName,
#inputContainer,
button {
    margin: 3px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#iconsContainer {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% -50%);
    height: 240px;
    width: 1200px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 20px;
}

#weatherContainer {
    margin: auto;
    width: 63%;
    padding: 10px;
}


.icons {
    display: inline-block;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.image {
    height: 140px;
    width: 100%;
}

.imgClass {
    height: 140px;
    width: 100%;
}

.weather {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


.minValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.maxValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


